# First Model with scikit-learn

In [8]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [4]:
census = pd.read_csv("../datasets/adult-census-numeric.csv")

# o mesmo dataset anterior, porém só com os dados numéricos
census.head()

   age  capital-gain  capital-loss  hours-per-week   class
0   41             0             0              92   <=50K
1   48             0             0              40   <=50K
2   60             0             0              25   <=50K
3   37             0             0              45   <=50K
4   73          3273             0              40   <=50K

## Separate the data and the target

In [5]:
target_name = "class"
target = census[target_name]

data = census.drop(columns=[target_name])

In [6]:
target

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
39068     <=50K
39069     <=50K
39070      >50K
39071     <=50K
39072      >50K
Name: class, Length: 39073, dtype: object

In [7]:
data

       age  capital-gain  capital-loss  hours-per-week
0       41             0             0              92
1       48             0             0              40
2       60             0             0              25
3       37             0             0              45
4       73          3273             0              40
...    ...           ...           ...             ...
39068   45             0             0              40
39069   47             0             0              60
39070   29             0          1485              60
39071   29             0             0              40
39072   46         15024             0              55

[39073 rows x 4 columns]

Como primeiro modelo, será utilizado o KNN (K-Nearest Neighbors - no português: K vizinhos mais próximos), por se tratar de um modelo intuitivo, desta forma, fácil de entender. Porém é pouco utilizado na prática, existindo outros modelos melhores. Este método, utiliza a proximidade dos valores, ou seja, ela pega o valor que está mais próximo do que foi inserido para predizer a classe que será.

In [10]:
model = KNeighborsClassifier()
_ = model.fit(data, target)

In [14]:
target_predicted = model.predict(data)

target_predicted == target

0        False
1         True
2         True
3         True
4         True
         ...
39068     True
39069    False
39070     True
39071     True
39072     True
Name: class, Length: 39073, dtype: bool

In [16]:
print(f"O numero de predições corretas é {(target == target_predicted).sum()}")
print(f"Tamanho total dos dados para predizer: {target.shape[0]}")

O numero de predições corretas é 32207
Tamanho total dos dados para predizer: 39073

In [20]:
(target == target_predicted).mean() * 100

82.42776341719346

Desta forma, o modelo conseguiu acertar 82% das classes na mesma base que ela foi treinada.

In [21]:
census_test = pd.read_csv("../datasets/adult-census-numeric-test.csv")

In [22]:
target_test = census_test[target_name]
data_test = census_test.drop(columns=[target_name])

In [25]:
accuracy = model.score(data_test, target_test)
model_name = model.__class__.__name__

print(f"A acurácia do modelo {model_name} é: {accuracy * 100: .3f}%")

A acurácia do modelo KNeighborsClassifier é:  80.377%